*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.mtc10
*.tcp
*.nlo
*.out
*.bak
*.snm
*.nav
*.bcf
*.run.xml
*.tps
*.synctex
*.synctex.gz
*.toc
*.idx
*.pdfsync
*~
